.list {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.navLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  color: #f36a40;

  cursor: pointer;
}
.navLink h4 {
  color: #f36a40;
  font-size: 2rem;
  text-align: center;
}

.navLink svg {
  color: #f36a40;
  font-size: 3rem;
}
