.RecipeCardMain {
  width: 100%;
  /* height: calc(100vh - 222px); */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Recipe-Card {
  height: calc(100% - 368px);
  width: 100%;
}
.recCard {
  height: 100%;
  background-color: #f36a40;
  color: white;
}
.recCard-img {
  height: calc(100% - 70px);
}

.recCard-img-bottom {
  background-color: #f36a40;
  height: 70px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  /* border: "2px solid #000" */
}
