.inpGrp {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #f36a40;
  border-radius: 1rem;
  padding: 8px;
}
.inp {
  background-color: #f36a40;
  border: none;
}
.inp:focus {
  background-color: #f36a40;
  border: none;
  box-shadow: none;
}
